<h1> Welcome to the Nested Forms Lab!</h1>
<form method="post" action="/pirates">

  <label> Pirate Name: </label>
  <input type="text" name="pirate[name]"><br></br>

  <label> Pirate Weight: </label>
  <input type="text" name="pirate[weight]"><br></br>

  <label> Pirate Height: </label>
  <input type="text" name="pirate[height]"><br></br>

  <label> Ship Name: </label>
  <input id="ship_name_1" type="text" name="pirate[ships][][name]"><br></br>

  <label> Ship Type: </label>
  <input id="ship_type_1" type="text" name="pirate[ships][][type]"><br></br>

  <label> Ship Booty: </label>
  <input id="ship_booty_1" type="text" name="pirate[ships][][booty]"><br></br>

  <label> Ship Name: </label>
  <input id="ship_name_2" type="text" name="pirate[ships][][name]"><br></br>

  <label> Ship Type: </label>
  <input id="ship_type_2" type="text" name="pirate[ships][][type]"><br></br>

  <label> Ship Booty: </label>
  <input id="ship_booty_2" type="text" name="pirate[ships][][booty]"><br></br>

  <button type="submit" id="submit">Submit</button>
</form>
